
<%= form_for(@comment) do |f| %>

    <% if @comment.user.nil? %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  <% end %>
  <br>
  <%= f.hidden_field :user_id %>

  <label>Title:</label><br>
  <%= f.text_field :title %><br>


  <label>Message:</label><br>
  <%= f.text_area :message %><br>

  <%= f.submit %>
<% end %>