
<h1> Create a Comment:</h1>

<%= form_for (@comment) do |f| %>
   <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label :Title %>
    <br>
    <%= f.text_area :title %>
    <br>
    <%= f.label :Name %>
    <br>
    <%= f.text_area :name %>
    <br>
    <%= f.label :Message %>
    <br>
    <%= f.text_area :message %>
    <br>
    <%= f.submit %>
<% end %>
