
<h1>Create a Pattern</h1>
<br>
<% if @pattern.errors.any? %>
    <% @pattern.errors.full_messages.each do |error_message| %>
    <li style="color: red"> <%= error_message %></li>
        <% end %>
    <%end%>
<%= form_for (@pattern) do |f| %>
    <%= user_id_field(@pattern) %><br>
  
  <label>Pattern Title:</label><br>

    <% if @pattern.user.nil? %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>

  <%= f.hidden_field :user_id %>
  
  <%= f.text_field :title %><br>
  <label>Pattern Author:</label><br>
  <%= f.text_area :author %><br>
  <label>Pattern Category:</label><br>
  <%= f.select :category %><br>
  <label>Pattern Difficulty:</label><br>
  <%= f.select :difficulty %><br>
  <br>
  <label>Pattern Description</label><br>
  <%= f.text_area :description %><br>
  <label>Name:</label><br>
  <%= f.text_area :name %><br>
  <label>Website To the Pattern:</label><br>
  <%= f.text_area :website %><br>
  <%= f.submit %>
<% end %>