<h1><%= @pattern.title %></h1>
<p><%= @pattern.category %></p>	
<p><%= @pattern.description  %></p>
<td><%= link_to "Show", @pattern %></td>
<td><%= link_to "Edit", edit_pattern_path(@pattern) %></td>
<br>

<h3><%= @pattern.name %></h3>
    <p>Comments:</p>
<% @pattern.comments.each do |comment| %>
  <div><%= comment.title %></div>
  <div><%= comment.name %></div>
  <div><%= comment.message %></div>
  <% end %> 
<h3> Add a Comment:</h3>
<%= form_for Comment.to_s do |f| %>

<%= f.label :Title %>
    <br>
    <%= f.text_area :title %>
    <br>
    <%= f.label :Name %>
    <br>
    <%= f.text_area :name %>
    <br>
    <%= f.label :Message %>
    <br>
    <%= f.text_area :message %>
    <br>
    <%= f.submit %>
<% end %>
