<br>
<label>Pattern Title:</label>
<%= @pattern.title %><br>
<label>Pattern Author:</label>
<%= @pattern.author %><br>
<label>Pattern Category:</label>
<%= @pattern.category %><br>
<label>Pattern Difficulty:</label>
<%= @pattern.difficulty %><br>
<label>Pattern Description</label><br>
<%= @pattern.description %><br>
<label>Name:</label>
<%= @pattern.name %><br>
<label>Website:</label>
<%= @pattern.website %><br>

<p>by <%= link_to @pattern.users.name, users_path(@pattern.users) if @pattern.users %> (<%= link_to "Edit Pattern", edit_user_pattern_path(@pattern.users, @pattern) if @pattern.users %>)</p>





 