


<h1><%= @pattern.title %></h1>
<p><%= @pattern.category %></p>

<h3>New Comment:</h3>

<%= form_for @pattern.comments.build do |f| %>
    <%= f.hidden_field :pattern_id %>

    <%= f.collection_select :user_id, User.all, :id, :name %>

    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :name %>
        <%= user_fields.text_field :name %>
    <% end %>

    <%= f.text_area :message %>

    <%= f.submit %>
<% end %>
