<h1><%= @pattern.title %></h1>
<p><%= @pattern.category %></p>	
<p><%= @pattern.description  %></p>
<td><%= link_to "Show", @pattern %></td>
<td><%= link_to "Edit", edit_pattern_path(@pattern) %></td>
<br>


<h3><%= @pattern.name %></h3>
    <p>Comments:</p>
<% @pattern.comments.each do |comment| %>
  <div><%= comment.title %></div>
  <div><%= comment.name %></div>
  <div><%= comment.message %></div>
  <% end %> 
<%= link_to 'Leave a Comment', new_comment_path, method: :get, class: "btn btn-outline-primary nav-btn" %>

