<br>
<label>Pattern Title:</label>
<%= @pattern.title %><br>
<label>Pattern Author:</label>
<%= @pattern.author %><br>
<label>Pattern Category:</label>
<%= @pattern.category %><br>
<label>Pattern Difficulty:</label>
<%= @pattern.difficulty %><br>
<label>Pattern Description</label><br>
<%= @pattern.description %><br>
<label>Name:</label>
<%= @pattern.name %><br>
<label>Website:</label>
<%= @pattern.website %><br>

  <%= link_to "Edit Pattern", edit_user_pattern_path(@pattern), method: "get" %>
   <%= link_to "Delete pattern", user_pattern_path(@pattern), method: "delete",  data: { confirm: 'Are You Sure?' }%>

<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :pattern_id, value: @pattern.id %>
  <%= f.label :Title %>	
  <%= f.text_field :title %><br>
  <%= f.label :Name %>	
  <%= f.text_field :name %><br>
  <%= f.label :Message %>	
  <%= f.text_area :message %><br>
  <%= f.submit %>
<% end %>

 