<h1><%= @pattern.title %></h1>
<p><%= @pattern.category %></p>	
<p><%= @pattern.description  %></p>

<td><%= link_to "Show", @pattern %></td>
<td><%= link_to "Edit", edit_pattern_path(@pattern) %></td>

<h3>Comments:</h3>

<ul id = "comments">
   <% Comment.all.each do |c| %>
   <li><%= link_to c.title, {:action => 'index', :id => c.id} -%></li>
   <% end %>



<h3> Add a Comment:</h3>
<%= form_for Comment.new do |f| %>

    <%= f.label :Title %>
    <br>
    <%= f.text_area :title %>
    <br>
    <%= f.label :Name %>
    <br>
    <%= f.text_area :name %>
    <br>
    <%= f.label :Message %>
    <br>
    <%= f.text_area :message %>
    <br>
    <%= f.submit %>
<% end %>
